<div class="container">
  <div id="map"></div>
</div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>

<div class="col-12 py-3 text-center"> 
  <%= link_to "<<  投稿一覧に戻る", posts_path, class: "text-secondary" %>
</div>

