<div class="container">
  <div class="row my-5">
    <div class="heading col-md-5 col-sm-10 mx-2 mx-sm-auto text-center">
      <%= image_tag 'recosanpo.png' %>
    </div>
  </div>
  <div class="row my-5">
    <div class="about-text col-md-6 col-sm-10 mx-2 mx-sm-auto text-center">
      さんぽの記録をつけてみませんか？<br>記録をつけるとさんぽの楽しみが増えるかもしれません
      <br>毎日の景色の変化や<br>お出かけをした特別な景色、<br>
      気になるお店があれば<br>他の人に共有してみましょう<br>
      <br>あなたのさんぽが少しでも充実しますように
    </div>
  </div>
  <div class="row">
    <div class="col col-md-6 col-sm-10 mx-2 mx-sm-auto text-center">
      <%= image_tag 'sanpo01', class: "rounded img-fluid" %>
    </div>
  </div>
</div>