<h1>ユーザー詳細</h1>

<%= image_tag @user.get_profile_image %>
 <table class="table">

  <tr>
   <td>name</td>
   <th><%= @user.name %></th>
  </tr>
  <tr>
   <td>introduction</td>
   <td><%= @user.introduction %></td>
   <%= link_to "編集", edit_user_path(@user) %>
  </tr>
</table>


